*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace, sans-serif;
    background-image: url(./assets/one.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 1em; color: #fffdd9;
    text-align: center;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
    background-color: #fffdd970;
    width: 100vw;
    flex-direction: row;
    row-gap: 5px;
}
.section2{
    display: flex;
    flex-wrap: nowrap;
    margin-top:30px;
    background-color: #fffdd970;
    width: 100vw;
    flex-direction: row;
}
.visi{
    visibility: collapse;
}